@charset "UTF-8";
/* Un nom de police */
* {
	font-family: 'Manrope';
	font-size: 14px;
	margin:auto;
	padding: 0;
    list-style: none;
}
main {
	width: 100%;
	max-width: 1440px;
	margin: auto;
    background: #EDEDED;

}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
    max-width: 1440px;
	margin: auto;
}
a {
	text-decoration: none;
}

.logo_images{
    position: absolute;
    z-index: 1;
    margin: 50px auto auto 69px;
}

h1 {
    color: var(--Yellow, #FFD15B);
    text-align: center;
    font-family: "Anton";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
	margin: 230px auto auto 360px  ;
    position: absolute;
    z-index: 1;
    display: flex;
}
.header_photo{
    object-fit: cover;
    position: relative;
}
#formulaire{
    position: absolute;
    z-index: 1;
    width: 954px;
    height: 72px;
    border-radius: 11px;
    background: #FFF;
    margin: 370px 243px;
    display: flex;
    justify-content: space-between;
}
.recipes-search{
    color: var(--Grey, #7A7A7A);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    width: 850px;
    border: #FFF;
    border-radius: 11px;
}
.fa-search{
    color: #FFF;
    width: 51px;
    height: 35px;
    border-radius: 10px;
    background: var(--Black, #1B1B1B);
    margin: 10px;
    font-size: 20px;
    padding-top: 15px;
}
.research__recipes__submit{
    background-color: #FFF;
    border: #FFF;
    border-radius: 11px;
}

.search__fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 66px;
    margin-left: 104px;
}
.filters_numbers{
    display: flex;
    justify-content: space-between;
}
.card_section{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    margin: 66px 82px 66px 84px;
    background: #EDEDED;
}
.card_section .card{
    position: relative;
    height: 731px;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 30%;
    margin-bottom: 66px;
}
.card_section .card img{
    width: 100%;
    height: 253px;
    object-fit: cover;
    object-position: center;
    
}
h2{
    color: #000;
    font-family: Anton;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
h3{
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
p{
    color: var(--Black, #1B1B1B);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
li{
    display: flex;
    flex-direction: column;
    width: 45%;
}
ul{
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(0.9rem, 1vw, 0.9rem);
    gap: 20px 0px;
}
article {
    display: block;
}
.card_infos{
   
    height: 50%;
    gap: 20px;
    padding: 20px;
}
.card_time{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-family: "Manrope", sans-serif;
    background-color: #FFD15B;
}

.card_infos_ingredients{
  margin-top: 15px;
    font-family: Manrope, sans-serif;
    gap: 20px;
}